# Git
.git/
.gitignore

# CI
.codeclimate.yml
.circleci
.rubocop*

# Docker
docker-compose*

# test
spec/
.rspec
system-testing/

# log
*.log

# Other
.DS_Store
.bundle
.vscode
.yardoc
_docker
coverage/
doc
tags
tmp
.sample/
