# Git
.gitignore

# CI
.codeclimate.yml
.circleci
.rubocop*

# Docker
# docker-compose*

# Test
spec/
.rspec
system-testing/
docker/

# Log
*.log

# Others
.DS_Store
.bundle
.vscode
.yardoc
coverage/
example/
doc
tags
tmp
